#textBox {
  color: red
}

.resultBoxContainer {
  background-color: blanchedalmond;
  width: 100%;
}

.qlContainer {
  border: 1px solid royalblue;
  margin: 2em 1em;
  max-width: 40%;
}

#compareContainer {
  border: 1px solid royalblue;
  display: flex;
  justify-content: center;
}